/* Artfully masterminded by Cathy Lee  */

body {
    background: #323030;
    font-family: 'Crete Round', serif;
}

header#header {
    padding-top: 5px;
    height: 40px;
}

header#header h5 {
    margin-top: 38px;
    margin-bottom: 0;
}

header#header #about {
    margin-top: 19px;
    margin-left: 25px;
}

#aboutModal {
    color: #222222;
}

#main {
    margin: 50px 0 100px;
}

#game section#logo {
    height: 300px; /*Play with this value*/
    margin: 20px 0;
    padding: 30px 11px;
    -moz-box-shadow: 15px 15px 15px #333;

    background: white;
}

#game section#logo img#img_logo {
    height:100%;
    visibility: hidden;
}

#game section#controls {
    margin: 20px 0;
}

#footer {
    padding: 20px;
    
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  -ms-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  background-color: #4c4c56;
  height: 120px;
  position: absolute;
  left: 0;
  right: 0;
  font-size: 13px;
  z-index: 2;
}
  footer .tab {
    position: absolute;
    right: 0;
    width: 130px;
    text-align: center;
    bottom: -40px;
    line-height: 40px;
    height: 40px;
    background: #4c4c56;
    font-size: 12px;
    padding: 0 10px;
    cursor: pointer; }
    footer .tab span {
      border: solid #555555 1px;
      padding: 0 1px;
      color: white; 
  }
