/* Artfully masterminded by Cathy Lee  */

body {
    background: #3a3147;
}

header#header {
    padding-top: 20px;
    height: 55px;
}

header#header img#brandseen {
    width: 300px;
}

#main {
    margin: 50px 0 100px;
}

#game section#logo {
    height: 200px; /*Play with this value*/
    margin: 20px 0;
    padding: 30px 11px;
    -moz-box-shadow: 15px 15px 15px #333;

    background: #eee;
    background-image: url(/media/images/bg.png);
}

#game section#logo img#img_logo {
    height:100%;
}

#game section#controls {
    margin: 20px 0;
}

#footer {
    padding: 20px;
}