/* Artfully masterminded by Cathy Lee  */

body {
    background: #323030;
    font-family: 'Crete Round', serif;
}

header#header {
    padding-top: 5px;
    height: 40px;
}

header#header h5 {
    margin-top: 38px;
    margin-bottom: 0;
}

header#header #about {
    margin-top: 19px;
    margin-left: 25px;
}

#aboutModal {
    color: #222222;
}

#game {
    margin: 50px 0 100px;
}

#game section#logo {
    height: 300px; /*Play with this value*/
    margin: 20px 0;
    padding: 30px 11px;
    -moz-box-shadow: 15px 15px 15px #333;

    background: white;
}

#game section#logo img#img_logo {
    height:100%;
    visibility: hidden;
}

#game section#controls {
    margin: 20px 0;
}

#footer {
    height: 100px;
    padding: 20px;
    background-color: #4c4c56;
    position: absolute;
    left: 0;
    right: 0;
}

#footer p {
    margin-bottom: 10px;
}
