Django==1.3.1
GChartWrapper==0.9
PIL==1.1.7
Pygments==1.5
Scrapy==0.14.4
South==0.7.3
Twisted==12.1.0
beautifulsoup4==4.0.5
distribute==0.6.19
django-csv-importer==0.1.1
django-jqm==1.0.0a2
django-mailchimp==0.1.27
httpie==0.2.5
ipdb==0.6.1
ipython==0.12.1
lxml==2.3.4
mechanize==0.2.5
numpy==1.6.1
psycopg2==2.4.5
pyOpenSSL==0.13
pycompletion==0.1.0
pycurl==7.19.0
pypm==1.3.4
pythonselect==1.3
readline==6.2.2
requests==0.13.3
virtualenv==1.7.2
virtualenv-clone==0.2.4
virtualenvwrapper==3.5
w3lib==1.2
wsgiref==0.1.2
zope.interface==4.0.1
