<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="author" content="{% block meta_author %}{% endblock %}" />
    <link rel="shortcut icon" href="/media/images/favicon.ico" />

    <!-- Apple Meta Data -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
    <link rel="apple-touch-icon-precomposed" href="/media/images/apple-touch-icon.png" />

    <!-- Facebook Meta Data -->
    <meta property="og:url" content="http://brandseenapp.com/" />
    <meta property="og:title" content="Brandseen - Logo Coloring Game" />
    <meta property="og:description" content="Can you recognize these brands? Check out Brandseen, a logo coloring game, and find out how well you do." />
    <meta property="og:image" content="http://brandseenapp.com/media/images/apple-touch-icon.png" />
    <meta property="og:type" content="website" />
    <meta property="fb:admins" content="imkevinxu"/>
    <meta property="fb:app_id" content="330441857045600"/>

    <!-- Included CSS Files -->
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/media/css/foundation.css" />
    <link rel="stylesheet" href="/media/css/app.css" />

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/media/css/ie.css">
    <![endif]-->
    <!--[if gte IE 9]>
        <style type="text/css">
            .gradient {
                filter: none;
            }
        </style>
    <![endif]-->

    {% block extra_head %}{% endblock %}

    <script src="/media/js/modernizr.foundation.js"></script>

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="body">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=355221297834662";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    {# Content #}
    <div class="row">
        <div class="eleven columns centered">

            <header id="header" class="row">
                <div class="three columns">
                    <a href="/">
                        <img src="/media/images/brandseen.png" id="brandseen">
                    </a>
                </div>
                <div class="seven columns">
                    <h5>How well do you recognize these brands?</h5>
                </div>

                <div class="two columns">
                    <a href="#" class="button" id="about" data-reveal-id="aboutModal">About</a>
                </div>
            </header>

            <!-- PROMPT IE 6 USERS TO INSTALL CHROME FRAME. REMOVE THIS IF YOU SUPPORT IE 6.
            chromium.org/developers/how-tos/chrome-frame-getting-started -->
            <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

            <!--Block Content -->
            {% block content %}{% endblock %}
            <!-- End Block -->

            <footer id="footer" class="row">
                <div class="six columns">
                    <p>
                        Made by <a href="http://imkevinxu.com" target="_blank">Kevin</a>, <a href="http://cathyslee.com" target="_blank">Cathy</a>, and <a href="http://ariweinstein.com" target="_blank">Ari</a> at Greylock Hackfest.
                        <br/>
                        Check out the soon-to-be-coming <a href="#">iPhone App</a>.
                    </p>
                </div>

                <div class="six columns" id="social">
                    <div class="fb-like" data-href="http://brandseenapp.com" data-send="true" data-layout="button_count" data-width="200" data-show-faces="true"></div>

                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://brandseenapp.com/" data-text="I'm playing Brandseen, a logo coloring game" data-via="brandseen">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </footer>

            <div id="aboutModal" class="reveal-modal">
                <h2>Brandseen</h2>
                <p class="lead">A visual brand identification game.</p>

                <p>Brandseen is a web and iOS game that gauges your ability to recognize and reproduce brand colors. Most brands have been around for a while, and it's interesting to see the effect that advertising has on people's memories. This app was built during the 2012 Greylock Hackfest by <a href="http://imkevinxu.com" target="_blank">Kevin Xu</a>, <a href="http://cathyslee.com" target="_blank">Cathy Lee</a>, and <a href="http://ariweinstein.com" target="_blank">Ari Weinstein</a>. Feel free to send us feedback or suggestions via <a href="http://www.twitter.com/brandseen" target="_blank">@brandseen</a>.</p>

                <img src="/media/images/photoofus.png">

                <a class="close-reveal-modal">&#215;</a>
            </div>
        
        </div>
    </div>
    {# End Content #}
    
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/media/js/libs/jquery.min.js"><\/script>')</script>

    <!-- Included JS Files -->
    <script src="/media/js/jquery.reveal.js"></script>
    <script src="/media/js/jquery.orbit-1.4.0.js"></script>
    <script src="/media/js/jquery.customforms.js"></script>
    <script src="/media/js/jquery.placeholder.min.js"></script>
    <script src="/media/js/jquery.tooltips.js"></script>
    <script src="/media/js/app.js"></script>

    {% block javascript %}{% endblock %}
    
    <script>
    var _gaq=[['_setAccount','UA-33566186-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <script type="text/javascript">
    var clicky_site_ids = clicky_site_ids || [];
    clicky_site_ids.push(66620761);
    (function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//static.getclicky.com/js';
      ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
    })();
    </script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66620761ns.gif" /></p></noscript>

</body>
</html>

