{% extends "base.html" %}
<!-- Copy and Paste this for every html file. -->
{% block title %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

<header id="header" class="row">
    <div class="twelve columns">
        <img src="/media/images/brandseen.png" id="brandseen">
        <p>How well do you recognize brands?</p>
    </div>
</header>

<div class="row">
    <div class="twelve columns">

        <div class="content">
<h1>HI-SCORES</h1>
<table width="645" cellspacing="0" cellpadding="0">
<tr id="">
<td class="pos">1.</td><td class="name"> Name</td><td class="score">Score</td><td class="location"> City, State</td><td class="time">00 : 00</td>
</tr>
<tr id="">
<td class="pos">2.</td><td class="name"> Name</td><td class="score">Score</td><td class="location"> City, State</td><td class="time">00 : 00</td>
</tr>
<tr id="">
<td class="pos">3.</td><td class="name"> Name</td><td class="score">Score</td><td class="location"> City, State</td><td class="time">00 : 00</td>
</tr>
<tr id="">
<td class="pos">4.</td><td class="name"> Name</td><td class="score">Score</td><td class="location"> City, State</td><td class="time">00 : 00</td>
</tr>
<tr id="">
<td class="pos">5.</td><td class="name"> Name</td><td class="score">Score</td><td class="location"> City, State</td><td class="time">00 : 00</td>
</tr>
<tr id="">
<td class="pos">6.</td><td class="name"> Name</td><td class="score">Score</td><td class="location"> City, State</td><td class="time">00 : 00</td>
</tr>
<tr id="">
<td class="pos">7.</td><td class="name"> Name</td><td class="score">Score</td><td class="location"> City, State</td><td class="time">00 : 00</td>
</tr>
<tr id="">
<td class="pos">8.</td><td class="name"> Name</td><td class="score">Score</td><td class="location"> City, State</td><td class="time">00 : 00</td>
</tr>
<tr id="">
<td class="pos">9.</td><td class="name"> Name</td><td class="score">Score</td><td class="location"> City, State</td><td class="time">00 : 00</td>
</tr>
<tr id="">
<td class="pos">10.</td><td class="name"> Name</td><td class="score">Score</td><td class="location"> City, State</td><td class="time">00 : 00</td>
</tr>
</table>
</div>

    </div>
</div>

{% endblock %}

{% block javascript %}{% endblock %}
