{% extends "base.html" %}
<!-- Copy and Paste this for every html file. -->
{% block title %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

<header id="header" class="row">
    <div class="twelve columns">
        Header
    </div>
</header>

<div id="main" class="row">
    <div class="twelve columns">
        
        
        
    </div>
</div>

<footer id="footer" class="row">
    <div class="four columns">
        social :)
    </div>
    <div class="four columns">
        Hello back :)
    </div>
</footer>

{% endblock %}

{% block javascript %}{% endblock %}
