{% extends "base.html" %}
<!-- Copy and Paste this for every html file. -->
{% block title %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

<header id="header" class="row">
    <div class="twelve columns">
        <img src="/media/images/logo.png">
        <p>How well do you recognize brands?</p>
    </div>
</header>

<div id="main" class="row">
    <div class="twelve columns">
        
      <!-- content here -->
      <p><b>Instructions:</b> How well do you know some of the most popular brands on earth? Find out by selecting the color you associate with each logo - you'll be scored based on how close your response matches the original brand. See how well your score compares with others! Enjoy.</p>
        
    </div>
</div>

<footer id="footer" class="row">
    <div class="four columns" id="footer1">
    Made by Kevin, Cathy, and Ari at Greylock Hackfest. Check out the <a href="link">iPhone App</a>.<br>

    </div>
    <div class="four columns" id="footer2">
        Right side footer.
    </div>
</footer>

{% endblock %}

{% block javascript %}{% endblock %}
