{% extends "base.html" %}
<!-- Copy and Paste this for every html file. -->
{% block title %}Brandseen{% endblock %}
{% block meta_description %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

<header id="header" class="row">
    <div class="three columns">
        <a href="/">
            <img src="/media/images/brandseen.png" id="brandseen">
        </a>
    </div>
    <div class="seven columns">
        <h5>How well do you recognize brands?</h5>
    </div>

    <div class="two columns">
        <a href="#" class="button" id="about" data-reveal-id="aboutModal">About</a>
    </div>
</header>
        
<div class="row">
    <div class="twelve columns">
        <div id="game">
            <section id="logo" class="row">
                <div class="twelve columns">
                    <center>
                        <canvas id="tinted_logo">
                            <p>Your browser doesn't support canvas.</p>
                        </canvas>

                        <img src="/media/images/cocacola.png" alt="Coca Cola" id="img_logo" />
                    </center>
                </div>
            </section>

            <section id="controls" class="row">
                <div class="six columns offset-by-one">
                    <div id="colorpicker"></div>
                </div>

                <div class="four columns">
                    <center>
                        <a href="#" class="large success button" id="compare">Compare</a>
                        <h3><em>1 of 10</em></h3>
                        <div id="after_score">
                            
                            <h3><span id="score"></span> / 100</h3>
                        </div>
                    </center>
                </div>

                <div class="one columns">
                </div>
            </section>
        </div>

        <section id="instructions">
            <p><strong>Instructions:</strong> How well do you know some of the most popular brands on earth? Find out by selecting the color you associate with each logo - you'll be scored based on how close your response matches the original brand. See how well your score compares with others! Enjoy.</p>
        </section>
    </div>
</div>
        
<footer id="footer" class="row">
    <div class="six columns" id="footer1">
        <p>
            Made by <a href="http://imkevinxu.com" target="_blank">Kevin</a>, <a href="http://cathyslee.com" target="_blank">Cathy</a>, and <a href="http://ariweinstein.com" target="_blank">Ari</a> at Greylock Hackfest.
        </p>
        <div class="fb-like" data-href="http://www.brandseen.com" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-font="verdana"></div>
    </div>

    <div class="six columns" id="footer2">
        <p>
            Check out the <a href="#">iPhone App</a>.
        </p>
    </div>
</footer>

<div id="aboutModal" class="reveal-modal">
    <h2>Brandseen</h2>
    <p class="lead">A visual brand identification game.</p>

    <p>Brandseen is a web and iOS game that gauges your ability to recognize and reproduce brand colors. Most brands have been around for a while, and it's interesting to see the effect that advertising has on people's memories. This app was built during the 2012 Greylock Hackfest by <a href="http://imkevinxu.com" target="_blank">Kevin Xu</a>, <a href="http://cathyslee.com" target="_blank">Cathy Lee</a>, and <a href="http://ariweinstein.com" target="_blank">Ari Weinstein</a>. Feel free to send us feedback or suggestions via Twitter(<a href="http://www.twitter.com/brandseen" target="_blank">@brandseen</a>).</p>

    <img src="/media/images/photoofus.png">

    <a class="close-reveal-modal">&#215;</a>
</div>

{% endblock %}

{% block javascript %}

<script src="/media/js/raphael-min.js"></script>
<script src="/media/js/colorpicker.js"></script>
<script src="/media/js/jquery.countTo.js"></script>
<script src="/media/js/brain.js"></script>
<script src="/media/js/site.js"></script>

{% endblock %}
